#container {
  background-color: lightyellow;
  padding: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  height: 100px;
  width: 100px;
  color: white;
  text-align: center;
}

#item-1 {
  background-color: lightpink;
}

#item-2 {
  background-color: lightgreen;
}

#item-3 {
  background-color: lightskyblue;
}

#item-4 {
  background-color: lightseagreen;
}

#item-5 {
  background-color: lightsteelblue;
}