#grandFather {
  height: 300px;
  width: 300px;
  background-color: lightpink;
}

#father {
  height: 200px;
  width: 200px;
  background-color: lightgreen;
}

#child {
  height: 100px;
  width: 100px;
  background-color: lightsalmon;
}