body {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  
}


.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}

.logo {
  height: 60px;
  width: 60px;
}



.navbar input::placeholder {
color: rgb(180, 179, 179);
}


/* .icon-container {
  display: flex;
  gap: 24px;
} */


