body {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  
}

.main-section {
  flex-grow: 1;
 
}

.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
}

.logo {
  height: 60px;
  width: 60px;
}

.navbar input {
  padding: 12px;
  width: 300px;
  background-color: rgb(237, 235, 235);
  border: none;
  outline: none;
  border-radius: 5px;
}

.navbar input::placeholder {
color: rgb(180, 179, 179);
}


/* .icon-container {
  display: flex;
  gap: 24px;
} */


